/*. signifies that it's a class*/
body{
    font-family:"Trebuchet MS";
	background-repeat: no-repeat;
	background-color: #9999FF;
	margin-top: 100px;
	margin-right: 10%;
	margin-left: 10%;
}
section{
	margin-left: 5%;
	margin-right: 5%;
}
.container{
    font-family:helvetica;	
	width: 989px;
	margin: 0 auto;
}
.jumbotron{
	box-shadow: 2px 2px 2px 2px #888888;
	border: 2px;
    border-radius: 5px;
}
textarea{
	resize: none;
	background-image: url(http://i.imgur.com/qvgjQFy.jpg);
}
h1{
	margin-left: 5%;
}
.well {
   background-color: rgba(245, 245, 245, 0.4);
}